.details {
  margin-top: 2rem;

  div:nth-child(1) {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.625rem;
  }

  div:nth-child(2) {
    color: $gray;
    font-size: 0.875rem;
    font-weight: 400;
  }
}
